/* @settings
name: Pane Relief
id: pane-relief
settings:
    -   id: pane-relief-pane-numbering
        title: Number panes
        description: Add pane numbers to each window
        type: class-toggle

    -   id: pane-relief-disable-counts
        title: Disable history counts
        descirption: Remove the forward/back counts on titlebar
        type: class-toggle
*/